* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #f1f1f1;
}

.centered {
    padding: 1.5rem 14%; 
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-100 {
    height: 100%;
}

.w-auto {
    width: 72%;
}

nav {
    background-color: rgb(73, 73, 110);
    border-bottom-left-radius: 15%;
    display: flex;
    justify-content: space-between;

    h2 {
        color: #fff;
    }

    .switcher {

        a {

            &:hover {
                cursor: pointer;
                color: #e4dede;
            }

            .far {
                color: #fff;
                margin: 0 1rem;
                font-size: 1.2rem;
            }
        }
    }
}

.search {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: space-between;
    height: 4.5rem;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: .5rem;
    top: 6rem;

    .search-bar {
        width: 40%;
    }

    .location-filter {
        width: 30%;
    }

    .fulltime-filter {
        width: 20%;
    }

    .search-button {
        width: 10%;
    }

    .search-bar,
    .location-filter {
        justify-content: space-evenly;

        .far {
            width: auto;
        }

        input {
            width: 80%;
            border: none;
            border-right: 1px solid #f3f3f3;

            &:focus,
            &:active {
                outline: none;
            }
        }
    }
}

.job-cards {
    margin: 8rem auto 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;

    .job-card {
        width: 32%;
        margin-right: 1%;
        margin-bottom: 3rem;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        padding: 1.5em 2em;
        position: relative;
        border-radius: .5rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        p {
            margin: .4em 0;
        }

        .company-logo {
            width: 3rem;
            height: 3rem;
            background-color: orange;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .7em;
            position: absolute;
            top: -1.5rem;
            left: 1.5rem;
            border-radius: 35%;
        }

        .company-info {
            display: flex;
            width: 40%;
            justify-content: space-around;
            align-items: center;
            color: grey;
            margin-top: 1.5em;
        }

        .company-job {
            color: #000;
            font-weight: bold;
            font-size: 1.2em;
        }

        .company-name {
            color: grey;
        }

        .company-country {
            color: blue;
            font-size: .9em;
            margin-top: 2.2em;
        }
    }
}